.search_by_category ul li a {
    display: inline-block;
    padding: 4px 2px;
    color: #027F01;
    text-transform: uppercase;
    font-weight: 600;

    
}

.search_by_category ul li a:hover {
    background-color: yellow;
}