.search_by_category  a {
    display: inline-block;
    padding: 4px 2px;
    color: #027F01;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.search_by_category img{
    border-radius: 50%;
    border: 1px solid #000;
    /* background-color: #027F01; */
}


.main_container .search_img img{
    width: 100%;
    height: 100%;
}

.search_by_category ul li a:hover {
    background-color: yellow;
}

@media (width:599px) {
    .search_by_category ul li a {
        display: inline-block;
        font-size: 3px!important;
    }
    .search_by_category  a {
        font-size: 4px!important;
    }
}