.social_icons {
    /* height: 40px; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    
}
.social_icons .mobileView{
    /* width: 100px; */
    height: 40px;
}


.social_icons a {
    color: #fff;
}

.social_icons a:hover {
    color: yellow;
}

.search_se input {
    width: 90%;
    box-shadow: inset 0 0 8px 2px #FFCB08;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    padding: 6px 10px 6px 15px;
    background-color: #eee;
}


.register_login {
    font-size: 14px;
}

.logo_header h3 {
    font-size: 1.2rem;
    font-weight: 800;
}

.register_login select,
nav ul li select {
    outline: none;
    border: none;
    font-size: .7rem;
    text-decoration: underline;
    font-weight: 600;
}

.register_login .reg_login a {
    font-size: .6rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
}


/* navigation bar */
/* navigation bar */

nav ul li select {
    
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li select{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8)
}
nav ul li a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    font-weight: 700;
}

.social_bar_background{
    background-color: #FFCB08;
  }

@media (max-width:599px) {
    /* .search_se{
       position:fixed;
        top:0;

    } */
    .search_se{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search_se input {
        width: 100%;
        box-shadow: none;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-weight: 200;
        font-size: 16px;
    }
    .social_bar_background{
        /* padding:8px 0; */
        padding-top: 5px;
        padding-bottom: 5px;
      background-color: #51DC99;
    }
    .social_icons{
        /* width: 100%; */
    }
    .social_icons .icons a:first-child{
        /* font-size: 14px; */
        color:blue;
    }
}